@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<p>Author: <b>Vladyslav Ushakov</b></p>
<p>Email: <b><a href="mailto:vladyslav_ushakov@epam.com">vladyslav_ushakov@epam.com</a></b></p>